In [7]:
#1
a = 33
print(a)

33

In [17]:
#2
type(8.5)

float

In [18]:
#3
type(a)

int

In [19]:
#4
nahuel = 'nicolas'
print(nahuel)

nicolas

In [20]:
#5
numero_complejo = 17j + 19

In [21]:
#6
print(type(numero_complejo))

<class 'complex'>

In [33]:
#7
miVarpy : (3,1416)

In [63]:
#8
mivar1= 'True'
mivar2= True
print(mivar1)
print(mivar2)

True
True

In [65]:
#9
print(type(mivar1))
print(type(mivar2))

<class 'str'>
<class 'bool'>

In [68]:
#10
mivariable1 = 32.3
mivariable2 = 2
print(mivariable1 + mivariable2)

34.3

In [69]:
#11
var1= 1j
var2= 5j
print(var1 + var2)

6j

In [70]:
#12
vari1= 22j
vari2= 25
print(vari1 + vari2)

(25+22j)

In [71]:
#13
multip1= 36
multip2= 22
print(multip1 * multip2)

792

In [73]:
#14
print(2**8)

256

In [76]:
#15
d= 27 / 4
print(d)

6.75

In [77]:
#16
print(27//4)

6

In [78]:
#17
print(27 % 4)

3

In [81]:
#18
6 * 4 + 3

27

In [90]:
#19
variable123 = 'San '
variable1234 = 'Luis'
print(variable123 + variable1234)

San Luis

In [85]:
#20
2 == '2'

False

In [94]:
#20
2 == int('2')

True

In [22]:
#3,8 con la coma esta mal. es un bool, sin la coma y con un punto si es un float

metallica = ('3,8') 

a = bool(metallica)

metallica1 = (3.8)
float(3.8)

3.8

In [28]:
metallica = metallica.replace(',','.')
print(metallica)

3.8

In [31]:
metal = -3
metal = metal -2
print(metal)

-5

In [35]:
metal32 = -3
metal32 -= 2
print(metal32)

-5

In [37]:
#da 4 porq phyton lo toma como binario (1<<= 4 ) corre dos ceros debido al menor , menor da 100 y en el sistema binario es igual a 4 
1 << 2

4

In [45]:
#2 + '2' no da porq son de distintos tipo uno es un numero entero (int) y el otro es cadena de caracteres (string)
#si son iguales si se puede realizar la operacion
s_t_r = '2' + '2'
print(s_t_r)
#da el resultado de sumar el 2 + 2 como cadena da 22

22

In [57]:
str('2') + str(2)

'22'

In [48]:
#en el segundo caso  2 + 2 es una suma de numeros enteros la repuesta es 4
2 + 2

4

In [58]:
int('2') + int(2)

4

In [67]:
variable21 ='me tome ' 
variable22 = 3
print(variable21 * variable22)

me tome me tome me tome

In [65]:
print(variable21 * variable22 + str(variable22) + ' vasos de fernet')

me tome me tome me tome 3 vasos de fernet